@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div ng-controller="Controller" ng-click="hello()">
  <h1>{{test}}</h1>
</div>

<h1>@ViewBag.Thing.Body</h1>

@*<div ng-repeat="item in @ViewBag.List">
    <h1>{{item}}</h1>
</div>*@

<p>Use this area to provide additional information.</p>
