@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div ng-controller="ContactCtrl">
<input type="text" class="form-control">

<div class="panel panel-default" ng-repeat="user in users">
    <h1>{{user.Name}}</h1>
    <button type="button" ng-click="AddToContacts(user)">Add to Contacts</button>
</div>
</div>