@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/MoTMe_layout.cshtml";
}
<div ng-controller="IndexCtrl">
<div class="row">
    <div class="col-sm-3">
        <h1>contacts</h1>
    </div>
    <div class="col-sm-6">
        <h1>messages</h1>
        <h3 ng-repeat="message in messages">{{message.Body}}</h3>
        <br />
        <br />
        <br />
        <input type="text" class="form-control" ng-model="body" />
        <button class="btn btn-default" ng-click="AddMessage(body)">Send</button>
    </div>
    <div class="col-sm-3">
        <h1>alerts</h1>
    </div>
</div>
</div>