@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/MoTMe_layout.cshtml";
}
@Styles.Render("~/Content/css")
<div ng-controller="IndexCtrl">
<div class="row">
    <div class="col-sm-3">
        <h1>contacts</h1>
    </div>
    <div class="col-sm-6">
        <h1>messages</h1>
    </div>
    <div class="col-sm-3">
        <h1>alerts</h1>
    </div>
</div>
</div>