/*THEME*/
/*
#dddfd4 - grey
#fae596 - tanish
#3fb0ac - bluinggreenish
#173e43 - dark
*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;*/
    font-family: Arial;
    height: calc(100vh - 70px);
    color: #173e43;
    background-color: #3fb0ac;
    overflow:hidden;
}

.navbar-inverse{
    background-color: #173e43;
    border-color: #173e43;
}

.middle{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.white{
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

div#chat{
    display: inline-block;
    width: 100%;
    /*position: fixed;*/
}

#leftChat{
    background-color: #3fb0ac;
    /*height: calc(100vh - 50px);*/
}

#middleChat{
    background-color: #dddfd4;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

#rightChat{
    background-color: #76E859;
    height: calc(100vh - 50px);
}

.contact{
    background-color: #fae596;
    border-radius: 20px;
    margin: 4px;
}
.contact:hover{
    cursor: pointer;
    opacity: .6;
    animation-name: change-opacity;
    animation-duration: 200ms;
}
/*@keyframes change-background{
  from {background-color: none;}
  to {background-color: ;}
}*/
@keyframes change-opacity{
  from {opacity: 1;}
  to {opacity: .6;}
}
@keyframes change-opacity-reverse{
  from {opacity: .6;}
  to {opacity: 1;}
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}