/*THEME*/
/*#534DFF - darkblue*/
/*#E8596A - redish*/
/*#FFDA86 - tanish*/
/*#76E859 - greenish*/
/*#79D5FF - bluish*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    height: calc(100vh - 70px);
}

.navbar-inverse{
    background-color: #E8596A;
}

.middle{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.white{
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

div#chat{
    display: inline-block;
}

#leftChat{
    background-color: #534DFF;
    height: calc(100vh - 50px);
}

#middleChat{
    background-color: #FFDA86;
    height: calc(100vh - 50px);
    overflow: scroll;
}

#insideMiddele{
    overflow: scroll;
}

#rightChat{
    background-color: #76E859;
    height: calc(100vh - 50px);
}

.contact{
    background-color: #79D5FF;
    /*border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;*/
    border-radius: 20px;
    margin: 4px;
}
.contact:hover{
    cursor: pointer;
    opacity: .6;
    animation-name: change-opacity;
    animation-duration: 200ms;
}
@keyframes change-opacity{
  from {opacity: 1;}
  to {opacity: .6;}
}
@keyframes change-opacity-reverse{
  from {opacity: .6;}
  to {opacity: 1;}
}